# DON'T CHANGE THIS FILE, PLEASE EDIT .envrc.private INSTEAD.
source_env .direnv/.envrc

# https://github.com/microsoft/pyright/issues/3880
export SETUPTOOLS_ENABLE_FEATURES="legacy-editable"

source_env_if_exists .envrc.private
